Published/thesis-camready/thesis.aux
Published/thesis-camready/thesis.idx
Published/thesis-camready/thesis.lof
Published/thesis-camready/thesis.log
Published/thesis-camready/thesis.lot
Published/thesis-camready/thesis.not
Published/thesis-camready/thesis.pdf
Published/thesis-camready/thesis.tdo
Published/thesis-camready/thesis.toc
Current/thesis-erratum/dphilerratum.synctex.gz
Current/thesis-erratum/dphilerratum.log
Current/thesis-erratum/dphilerratum.fls
Current/thesis-erratum/dphilerratum.fdb_latexmk
Current/thesis-erratum/dphilerratum.aux
